.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: var(--slack-color);
    color: #fff;
}

.header_left {
    display: flex;
    flex: 0.3;
    align-items: center;
    /* justify-content: space-between; */
    margin-left: 20px;
}

.header_left > .MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 30px;
}

.header_search {
    flex: 0.4;
    background-color: #421f44;
    text-align: center;
    display: flex;
    padding: 0 50px;
    color: gray;
    border: 1px solid gray;
    border-radius: 6px;
}

.header_search > input {
    background-color: transparent;
    border: none;
    text-align: left;
    min-width: 35vw;
    outline: none;
    color: gray;
}

.header_right {
    flex: 0.3;
    display: flex;
    align-items: flex-end;
}

.header_right > .MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 20px;
}